RewriteEngine On

RewriteCond %{THE_REQUEST} app_name/public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^$ app_name/public/$1 [L,NC]



# MULTI DOMAIN Configuration example
# RewriteEngine On

# RewriteRule ^app_name((?!app_name/).*)$ app_name/public/$2 [L,NC]

# RewriteCond %{THE_REQUEST} app_name/public/([^\s?]*) [NC]
# RewriteRule ^ %1 [L,NE,R=302]

# RewriteRule ^$ app_name/public/$1 [L,NC]