RewriteEngine On

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]



# MULTI DOMAIN Configuration example
# RewriteEngine On

# RewriteRule ^app_name((?!app_name/).*)$ app_name/public/$2 [L,NC]

# RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
# RewriteRule ^ %1 [L,NE,R=302]

# RewriteRule ^((?!public/).*)$ public/$1 [L,NC]   